<% layout('layout') -%>
<div class="menubar">
    <div class="sidebar-toggler visible-xs">
        <i class="ion-navicon"></i>
    </div>
    
	<div class="page-title">
		Order History
	</div>
</div>

<div class="content-wrapper">
	
	<table id="datatable-example">
        <thead>
            <tr>
                <th tabindex="0" rowspan="1" colspan="1">Order
                </th>
                <th tabindex="0" rowspan="1" colspan="1">Customer
                </th>
                <th tabindex="0" rowspan="1" colspan="1">Date
                </th>
                <th tabindex="0" rowspan="1" colspan="1">Status
                </th>
                <th tabindex="0" rowspan="1" colspan="1">Total
                </th>
            </tr>
        </thead>
        
        <tfoot>
            <tr>
                <th rowspan="1" colspan="1">Order</th>
                <th rowspan="1" colspan="1">Customer</th>
                <th rowspan="1" colspan="1">Date</th>
                <th rowspan="1" colspan="1">Status</th>
                <th rowspan="1" colspan="1">Total</th>
            </tr>
        </tfoot>
        <tbody>
         <% orders.forEach(function(o) { %>
            <tr class="order-item">
                <input type="hidden" name="id" value="<%= o._id %>">
                <td>
                    <a href="/orders/<%= o._id %>">#<%= o.orderNumber %></a><i data-toggle="tooltip" data-placement="top" title="delete order" style="margin-left: 10px" class="fa fa-times delete-order"></i>
                </td>
                <td class="customer-name"><%= o.customer %></td>
                <td  class="order-date"><%= o.statusHistory.processing %></td>
                <td class=""><span class="label"><%= o.status %></span></td>
                <td class="center">$<%= o.total %></td>
            </tr>
        <% }) %>    
       	</tbody>
    </table>
</div>

<script type="text/javascript">
    $(function() {

    	$("body").attr('id', "datatables")

        //format dates
        $('.order-date').each( function(e) {
            $(this).html( dateFormat($(this).html()))
        })

        $('.label').each(function(e) {
            var status = $(this).html()

            switch(status) {
                case 'processing':
                    $(this).addClass('label-warning')
                    break;
                case 'shipped':
                    $(this).addClass('label-primary')
                    break;                    
                case 'completed':
                    $(this).addClass('label-success')
                    break;                        
                default:
                    $(this).addClass('label-danger')
            }
        })

        $('.delete-order').click( function(e) {

            var id = $(this).closest('tr').find('input').val()
            var that = $(this)

            console.log($(this).closest('tr').find('.customer-name').html() )

            $.ajax({
                method: 'DELETE',
                url: '/orders/' + id + '/edit',
                contentType: 'application/json; charset=UTF-8',
                dataType: 'json',
                timeout: 5000,
                success: (data) => {
                    Messenger().post("Order has been removed!");
                    that.closest('tr').remove()
                },
                error: (XMLHttpRequest, textStatus, errorThrown) => {
                    Messenger().post({
                        message: 'Sorry, there was problem with removing Order.',
                        type: 'error',
                        showCloseButton: true
                    });
                }
            })
        })

        $('#datatable-example').dataTable({
            "sPaginationType": "full_numbers",
            "iDisplayLength": 20,
			"aLengthMenu": [[20, 50, 100, -1], [20, 50, 100, "All"]]
        });
    });
</script>