<% layout('layout') -%>

<div class="menubar">
    <div class="sidebar-toggler visible-xs">
        <i class="ion-navicon"></i>
    </div>
    
	<div class="page-title">
		Active Orders
	</div>

    <a href="/orders/new" class="new-user btn btn-success pull-right">
        <span>New Order</span>
    </a>
</div>

<div class="content-wrapper">
	
	<table id="datatable-example">
        <thead>
            <tr>
                <th tabindex="0" rowspan="1" colspan="1">Order
                </th>
                <th tabindex="0" rowspan="1" colspan="1">Customer
                </th>
                <th tabindex="0" rowspan="1" colspan="1">Date
                </th>
                <th tabindex="0" rowspan="1" colspan="1">Status
                </th>
                <th tabindex="0" rowspan="1" colspan="1">Total
                </th>
            </tr>
        </thead>
        
        <tfoot>
            <tr>
                <th rowspan="1" colspan="1">Order</th>
                <th rowspan="1" colspan="1">Customer</th>
                <th rowspan="1" colspan="1">Date</th>
                <th rowspan="1" colspan="1">Status</th>
                <th rowspan="1" colspan="1">Total</th>
            </tr>
        </tfoot>
        <tbody>
            <% orders.forEach(function(o) { %>
                <tr>
                    <td>
                        <a href="/orders/<%= o._id %>">#<%= o.orderNumber %></a>
                    </td>
                    <td><%= o.customer %></td>
                    <td  class="order-date"><%= o.status === 'processing' ? o.statusHistory.processing : o.statusHistory.shipped %></td>
                    <td class=""><span class="label"><%= o.status %></span></td>
                    <td class="center">$<%= o.total.toFixed(2) %></td>
                </tr>
            <% }); %>
       	</tbody>
    </table>
</div>

<script type="text/javascript">
    $(function() {

    	$("body").attr('id', "datatables")

        //format dates
        $('.order-date').each( function(e) {
            $(this).html( dateFormat($(this).html(), 'mmm d, yyyy'))
        })

        $('.label').each(function(e) {
            var status = $(this).html()

            switch(status) {
                case 'processing':
                    $(this).addClass('label-warning')
                    break;
                case 'shipped':
                    $(this).addClass('label-primary')
                    break;                    
                case 'completed':
                    $(this).addClass('label-success')
                    break;                        
                default:
                    $(this).addClass('label-danger')
            }
        })


        if('<%= message %>') { Messenger().post('<%= message %>') }

        $('#datatable-example').dataTable({
            "sPaginationType": "full_numbers",
            "iDisplayLength": 10,
			"aLengthMenu": [[5, 20, 50, 100, -1], [10, 20, 50, 100, "All"]]
        });
    });
</script>

