<% layout('layout') -%>
<div class="menubar fixed">
	<div class="sidebar-toggler visible-xs">
		<i class="ion-navicon"></i>
	</div>
	
	<div class="page-title">
		Customers
	</div>
	<form class="search hidden-xs">
		<i class="fa fa-search"></i>
		<input type="text" name="q" id='search-input' placeholder="Search customers, clients by name..." autocomplete="off"/>
	</form>
	<a href="/customers/new" class="new-user btn btn-success pull-right">
		<span>New customer</span>
	</a>
</div>

<div class="content-wrapper">
	<div class="row page-controls">
		<div class="col-md-12 filters">
			<label>Filter Customers:</label>
			<a href="#" id='show-all' class="active">All (<%= customers.length %>)</a>
			<a href="#" id='show-home-user'>Home-user (<%=customers.filter( c => c.type === 'Home User').length %>)</a>
			<a href="#" id='show-end-user'>End-user (<%=customers.filter( c => c.type === 'End User').length %>)</a>
			<a href="#" id='show-company'>Company (<%=customers.filter( c => c.type === 'Company').length %>)</a>

			<div class="show-options">
				<a href="#" data-grid=".users-list" class="grid-view active"><i class="fa fa-th-list"></i></a>
				<a href="#" data-grid=".users-grid" class="grid-view"><i class="fa fa-th"></i></a>
			</div>
		</div>
	</div>

	<div class="row users-list">
		<div class="col-md-12">
			<div class="row headers">
				<div class="col-sm-2 header select-users">
					<input type="checkbox" />
					<div class="dropdown bulk-actions">
						<a data-toggle="dropdown" href="#">
					  		Bulk actions
					  		<span class="total-checked"></span>

					  		<i class="fa fa-chevron-down"></i>
					  	</a>
					  	<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
							<li><a href="#">Delete customers</a></li>
							<li><a href="#">Edit customer</a></li>
					  	</ul>
					</div>
				</div>
				<div class="col-sm-3 header hidden-xs">
					<label><a href="#">Name</a></label>
				</div>
				<div class="col-sm-3 header hidden-xs">
					<label><a href="#">Email</a></label>
				</div>
				<div class="col-sm-2 header hidden-xs">
					<label><a href="#">Total spent</a></label>
				</div>
				<div class="col-sm-2 header hidden-xs">
					<label class="text-right"><a href="#">Signed up</a></label>
				</div>
			</div>
			<% customers.forEach(function(c) { %>
        		<div class="row user">
        		<input type='hidden' value='<%= c.type %>' name="type">
					<div class="col-sm-2 avatar">
						<input type="checkbox" name="select-user" />
						<img src="<%=c.image%>" />
					</div>
					<div class="col-sm-3">
						<a href="/customers/<%= c._id %>" class="name"><%= c.name %></a>
					</div>
					<div class="col-sm-3">
						<div class="email"><%= c.email %></div>
					</div>
					<div class="col-sm-2">
						<div class="total-spent">
							$9,400.00
						</div>
					</div>
					<div class="col-sm-2">
						<div class="created-at"><%= c.registered %></div>
					</div>
				</div>
   			<% }); %>

			<div class="row pager-wrapper">
				<div class="col-sm-12">
					<ul class="pager">
					  	<li><a href="#">Previous</a></li>
					  	<li><a href="#">Next</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
	$( document ).ready(function() {
	  	$("body").attr('id', "users");

	  	if('<%= message %>') { Messenger().post('<%= message %>') }

	  	//format dates
        $('.created-at').each( function(e) {
            $(this).html( dateFormat($(this).html(), 'mmm d, yyyy'))        		
        })

		var $allUsers = $(".select-users input:checkbox");
		var $checkboxes = $("[name='select-user']");


		// filtering by customer type
		$('#show-all').click(function(e) {
			$(".row.user").show()
		})
		$('#show-home-user').click(function(e) {
			$(".row.user").show()
			$(".row.user").filter(function(e) {
				return $(this).find("input[name='type']").val() != 'Home User'
			}).hide()
		})
		$('#show-end-user').click(function(e) {
			$(".row.user").show()
			$(".row.user").filter(function(e) {
				return $(this).find("input[name='type']").val() != 'End User'
			}).hide()
		})
		$('#show-company').click(function(e) {
			$(".row.user").show()
			$(".row.user").filter(function(e) {
				return $(this).find("input[name='type']").val() != 'Company'
			}).hide()
		})


		// search bar
		$('#search-input').keyup(function(e) {
			$(".row.user").show()
			var searchTerm = $(this).val().toLocaleLowerCase()
			if(!searchTerm) {
				$(".row.user").show()
			}
			var customersToHide = $('.row.user').filter(function(e) {
				var name = $(this).find('.name').html().toLocaleLowerCase()
				return name.indexOf(searchTerm) == -1
			})
			$(customersToHide).hide()
		})

		$allUsers.change(function () {
			var checked = $allUsers.is(":checked");
			if (checked) {
				$checkboxes.prop("checked", "checked");
				toggleBulkActions(checked, $checkboxes.length);
			} else {
				$checkboxes.prop("checked", "");
				toggleBulkActions(checked, 0);
			}
		});

		$checkboxes.change(function () {
			var anyChecked = $(".user [name='select-user']:checked");
			toggleBulkActions(anyChecked.length, anyChecked.length);
		});

		function toggleBulkActions(shouldShow, checkedCount) {
			if (shouldShow) {
				$(".users-list .header").hide();
				$(".users-list .header.select-users").addClass("active").find(".total-checked").html("(" + checkedCount + " total customers)");

			} else {
				$(".users-list .header").show();
				$(".users-list .header.select-users").removeClass("active");
			}
		}


		// Grid switcher
		$btns = $(".grid-view");
		$views = $(".users-view");

		$btns.click(function (e) {
			e.preventDefault();
			$btns.removeClass("active");
			$(this).addClass("active");
			
			$views.removeClass("active");
			
			$(".users-grid").hide();
			$(".users-list").hide();

			$($(this).data("grid")).show();
		})
	})
</script>